.card-principal,
.card-principal-night
{
    margin: 0 auto;
    padding: 3rem;
    max-width: 25rem;
    border: 0.2rem;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3%;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.20);
}
.card-principal {
    background: var(--background-sky);
}
  
.card-principal-night {
    background: var(--background-night);
}

.card-principal .input-field{
    border: 1px solid #ccc;
    border-radius: 20px; 
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.5); /* Adiciona uma leve transparência */
}
.card-principal .button{
    border: none;
    border-radius: 20px; 
    padding: 10px 15px;
    margin-top: 1rem;
    background-color: rgb(255, 255, 255, 0.5);
    color: var(--text-secondary-gray);
    cursor: pointer;
}
.card-principal .temp-principal{
    font-size: 5rem;
}

.card-principal .temp-main-new1{
    font-size: 1rem;
}

.card-principal .temp-description-new1{
    font-size: 1rem;
}
.card-principal .clouds-city{
    width: 10rem;
}

@media (max-width: 600px) {
    .card-principal,
    .card-principal-sun,
    .card-principal-rain,
    .card-principal-cloudy,
    .card-principal-snow,
    .card-principal-night,
    .card-principal-night-rain {
        padding: 1.5rem; 
        margin: 0rem 3.0rem -1rem 3.0rem;
    }
}