.forecast-for-the-week{
    margin: 0 auto;
    padding: 0.2rem auto;
    display: flex;
    width: 25rem;
    justify-content: space-around;
    
}
.card-day{
    background: var(--background-card);
    border-radius: 0.2rem;
    padding: 2rem;
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.20);
}
.card-day .card-date-week{
    
}

.forecast-for-the-week .card-day .card-img-weather{
    margin-top: 1rem;
    width: 2rem;
}
.forecast-for-the-week .card-day .card-temp-min{
    
    padding: 1rem 0 0 0;
}
.forecast-for-the-week .card-day .card-temp-max{  
    font-weight: bold;
    font-size: large;
}